<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Admin page (Spring Security protected)</h1>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>
  <div th:if="${not #lists.isEmpty(rooms)}">
            <table class="table table-striped">
               <tr>
                  <th>Number</th>
                  <th>Name</th>
                  <th>Edit</th>
                  <th>Delete</th>
               </tr>
               <tr th:each="room : ${rooms}">
                  <td th:text="${room.number}"></td>
                  <td th:text="${room.name}"></td>
        		   <td>
                   	<a th:href="${'/room/edit/' + room.id}" class="btn btn-danger" role="button">
                   		Edit
                   	</a>  
        		   </td>
        		   <td>
                   	<a th:href="${'/room/delete/' + room.id}" class="btn btn-danger" role="button">
                   		Delete
                   	</a>
        		   </td>
               </tr>
               
            </table>
         </div>
         
         <div th:unless="${not #lists.isEmpty(rooms)}">
   			<div>List is empty</div>
		</div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>